*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding : 0;
    margin: 0;
    box-sizing: border-box;
}

.black__title {
    color:black;
    font-weight: bold;
    font-size: 1.5rem;
}

span {
    color: rgba(75, 36, 229, 1.00);
    font-weight: bold;
}   

/* different devices responsiveness */


@media (max-width: 575px) {
    .nav__container {
      display: flex;
    }
    .partner__img {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    .signup__btn {
        margin-top: 10px;
        flex-direction: column;
        align-items: center;
        
    }
}


@media (max-width: 769px) {
    .steps__container {
        margin-top: 20rem;
    }
    
}



@media (max-width: 1024px) {
    .intro__container {
        flex-direction: column;
        align-items: center;
    }

    .intro__label {
    height: 68px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    }

    .intro__para {
        width: 100%;
        text-align: center;
    }

    .intro__img {
        margin-left: 0;
        margin-top: 20px;
    }
}
/*Nav Bar Starts*/


nav {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    
}

.nav__title{
    margin-left: 10px;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 0;
}

.hamburger {
    display: none;
    cursor: pointer;
}

#bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    color: white;
}

.tlogo__img {
    height: 40px;
    width: auto;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}

.nav__links {
    display: flex;
    gap: 20px;
}

ul li {
    list-style: none;
    text-decoration: none;
    font-weight: bold;

}

.signup__btn {
    padding: 10px 30px;
    background-color: rgba(75, 36, 229, 1.00);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 2rem;
    text-decoration: none;
    font-size: 16px;
}

.signup__btn:hover {
    background-color: rgba(75, 36, 229, 1.00);
    box-shadow: #333333 0px 4px 15px;
    font-size:20px ;
}

.signup__btn:active {
    background-color: rgba(75, 36, 229, 1.00);
    box-shadow: #333333 0px 2px 10px;
    transform: translateY(2px);
}


/*Nav Bar End*/


/* Intro section start */

   /* Get Started Button Details*/

.intro__container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.intro__label{
    height: 68px;
    position:relative;
}

.intro__email {
    height: 68px;
    border-radius: 99px;
    border: 2px solid rgb(229, 231, 235);
    width: 100%;
    padding-left: 20px;

}

.intro__btn {
    background-color: #4b24e5;
    color: white;
    border-radius: 99px;
    padding: 8px 16px;
    position: absolute;
    right: 12px;
    border: none;
    top:50%;
    transform: translateY(-50%);
    height: calc(100% - 16px);

 
}

span {
    color:rgb(75, 36, 229, 1.00);
}
.intro__para {
    width: 45%;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;

}

.intro__text {
    font-size: 1rem;
    color: #555;
    margin-bottom: 30px;
    line-height: 1.5;
    max-width: 600px;
}

.intro__img__text {
    font-size: 12px;
    margin-top: 4rem;
    font-weight: bold;
    color: #a2a0a0;
}

.partner__img {
    width: 100%;
    height: auto;
}

.intro__img--dets {
    width: 50%;
}

/* Intro section end */


/* Features section start */

#features {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 0;
}

.feature__title {
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    margin-top: 2px;
    margin-bottom: 1.5rem;

}     

.feature__desc{
    margin-top: 1px;
    width: 50%;
    color: #a2a1a1;
    font-weight: 500;
}

.features__main--container{
    display: flex;
    flex-wrap: wrap;
    color: #787878;
    margin-top: 5rem; 
}



.features__container {
    
    padding: 10px 0;
    
}

.features__inner--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width:100%;
    max-width: 1200px;
    margin: 0 auto;
}

/*Features Section Paras*/

                
.feature,.feature__2,.feature__3,.feature__4,.feature__5,.feature__6 {
    display: flex;
    width: calc(100%/3);
    padding: 3rem;
}

.features__container1{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.feature__img {
    margin-top: 10px;
    
}

.feature__shield--img {
    border: solid 1px #e0e0e0;
    border-radius: 50%;
    padding: 10px;
}

.feature__shield--img:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: #333333 0px 4px 15px;
    font-size:20px ;
}

.feature__shield--img:active {
    background-color: rgba(75, 36, 229, 1.00);
    box-shadow: #333333 0px 2px 10px;
    transform: translateY(2px);
}
    




/* Features section end */

/* Quality Work section start */

.qw_container {
   
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 0;
    display: flex;
}

.qw_inner_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem;
}
.qw_img {
    max-width: 100%;
    height: auto;
}

.qw_img__container {
    display: flex;
    justify-content: center;
     max-width: 100%;
    height: auto;
}

.qw_button {
    padding: 10px 30px;
    background-color:rgba(75, 36, 229, 1.00);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 2rem;
    text-decoration: none;
    font-size: 16px;
    width: fit-content;
    cursor: pointer;   
    margin-top: 2rem;
}

.qw_button:hover {
    background-color: rgba(75, 36, 229, 1.00);
}
 .qw_title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 5px;
}

/* Quality Work Word Dets */
.span__end {
    font-weight: bold;
    font-size: 3rem;
}

/* Quality Work section end */


/* Steps Section Start */

.steps__container {
    
    width:100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 10rem;
    padding: 8px 0;
    display: flex;
}

.steps__img {
    width: 100%;
    height: auto;
}

.steps__title {
    margin-left: 2.5rem;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 5px;
}

.steps__top--tittle {
    margin-left: 2.5rem;
}

.step1__container {
    display: flex;
    gap: 1.5rem;
}

.step1__text--container {
    display: flex;
    flex-direction: column;
}   

.steps__main--container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
}

.steps__inner--container {
    align-items: center;
    padding: 2rem;
    margin-top: 10rem;
}

.step1__title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 10px;
}

.steps__img {
    margin-top: 30%;
}

.step1 {
    color: #c8c5c5;
    font-size: 2rem;
    margin-top: 0;
}


.step1__text {
    color: #868686;
    font-weight: 500;
    margin-top: 10px;
}
/* Steps Section End */


/* Values Section Start */

.values__container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 0;
    display: flex;
    justify-content: center;
}

.values__text {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
    max-width: 1200px;
}

.values__text1 {
    color: #c8c5c5;
    font-size: 2rem;
}

.values__title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 5px;
}

.values__desc {
    color: #a2a1a1;
    font-weight: 500;
}

.values__img--container {
    display: flex;
    justify-content: center;
}

.values__img {
    width: 100%;
}

.values__sections {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 3rem;
}

.value__inter--contaner1 {
    display: flex;
    align-items: center;
    width: calc(100%/3);
}

.value__inter--contaner2 {
    display: flex;
    align-items: center;
    width: calc(100%/3);
}

#value__fontc {
    width: 100px;
    height: 30px;
    background-color: rgb(169, 241, 208);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center
}

#value__fontc2 {
    width: 100px;
    height: 25px;
    background-color: rgb(255, 178, 178);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center
}


/* Values Section End */

/* Pricing Start Section ↓ */
#pricing {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 0;
}

/* Cards Section Start */
/* Cards Container */
.main__card--container {
    display: flex;
    flex-wrap: wrap;

}

/* Cards Details */



.top__line {
     height: 5px;
  background: #7bd8c8;
  border-radius: 6px 6px 0 0;
}

.top__line3 {
     height: 5px;
  background: #d87b7b;
  border-radius: 6px 6px 0 0;
}
/* Cards Top Colors↑ */

.c1__title, .c3__title {
  color: #555;
  font-size: 18px;
  margin-top: 25px;
  letter-spacing: 1px;
}

.c2__title {
  color: #ffffff;
  font-size: 18px;
  margin-top: 25px;
  letter-spacing: 1px;
}

.monthly {
  font-size: 12px;
  color: #999;
  letter-spacing: 1px;
}

.monthlyc2 {
    font-size: 12px;
  color: #ffffff;
  letter-spacing: 1px;
}

.c1__text li, .c3__text li {
  color: #999;
  margin: 12px 0;
  font-size: 14px;
}

.c2__text li {
    color: #ffffff;
  margin: 12px 0;
  font-size: 14px;
}

.c1__pricing, .c3__pricing {
  font-size: 42px;
  margin: 10px 0 5px;
  color: #222;
}

.c2__pricing {
    font-size: 42px;
  margin: 10px 0 5px;
  color: #ffffff;
}

.divider {
  width: 100%;
  height: 1px;
  background: #e4e4e4;
  margin: 25px 0;
}

.divider2 {
    width: 100%;
  height: 1px;
  background: #eee;
  
  margin: 25px 0;
}

.c1,  .c3 {
  width: 250px;
  background: white;
  border: 1px solid #e5e5e5;
  border-radius: 6px;
  text-align: center;
  padding-bottom: 30px;
  margin: 50px auto;
  position: relative;
}

.c2 {
    width: 260px;
  background: linear-gradient(to bottom, #4f56d9, #7a82ff);
  border-radius: 6px;
  text-align: center;
  padding: 35px 20px;
  margin: 50px auto;
  color: white;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}


/* Button Details for Cards↓ */


.c1_button{
  background: #7bd8bc;
  color: white;
  border: none;
  padding: 12px 35px;
  border-radius: 999px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  transition: 0.3s;
  margin-top: 10%;

}

.c2_button{
  background: #ffffff;
  color: #4f56d9;
  border: none;
  padding: 12px 35px;
  border-radius: 999px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  transition: 0.3s;
}

.c3_button{
  background: #d87b7b;
  color: white;
  border: none;
  padding: 12px 35px;
  border-radius: 999px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  transition: 0.3s;
  margin-top: 20px;
}

.c1_button:hover {
  background: hsl(0, 0%, 100%);
  color: #7bd8bc;
  box-shadow: #333333 0px 4px 15px;
  font-size:14px ;
}

.c2_button:hover {
  background: #ffffff;
  box-shadow: #4f56d9 0px 4px 15px;
  font-size:14px ;
}

.c3_button:hover {
  background: #ffffff;
  color: #d87b7b ;
  box-shadow: #333333 0px 4px 15px;
  font-size:14px ;
}
 
/* End of Cards*/

.pricing__tittle {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 5px;
    text-align: center;
}

.pricing__text {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}

.pricing__desc {
    color: #a2a1a1;
    font-weight: 500;
    margin-top: 10px;
    text-align: center;
    
}

.pricing__inner--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Pricing End Section */

/* Testimonials Section Start */


.testimonials__container {
     width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    
}

/* Testimonials img details section */

.testimonial__body {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
}

.testimonial__img {
    width: 100%;
    height: auto;
}

.testimonials__img--container {
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.testimoial__exp--bot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    margin-top: 3rem;
}

.testimonial__title2 {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 10px;
}

.testimonial__exp--tittle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.testimonial__exp--name {
    font-size: 1.2rem;
    font-weight: bold;
    color: #000000;
    margin-bottom: 0px;
}

.testimonial__exp--job {
    margin-top: 0px;
}

.testimonial__exp--bot--text 
{
    display: flex;
    flex-direction: column;
    color: #a2a1a1;
    font-weight: 500;
}

.testimonial__desc {
    margin-bottom: 5rem;
}

.testimonial__pfp--bot {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

/* Testimonials bot arrows */

.foot__arrow__container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}


#left__bot--arrow {
    width: 40px;
    height: 40px;
    background-color: rgb(209, 232, 238);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
} #right__bot--arrow {
    width: 40px;
    height: 40px;
    background-color: rgb(209, 232, 238);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
/* Testimonials bot Positioning */

.bot__testimonial--container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* Testimonials Section End */

/* Footer Section Start */

#bottom {
    margin-top: 10rem;
    background-color:rgba(75, 36, 229, 1.00);
}

.footer__container {
    background-color:rgba(75, 36, 229, 1.00);
    color: white;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
     padding: 80px 0;
    

}

.inner_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
}

.footer__main--title, .footer__production--title, .footer__press--title, .footer__team--title, .footer__legal--title {
    font-size: 1.5rem;
    font-weight: bold;
}

.footer__mtext {
    color: #d9d9d9;
    font-weight: 500;
    cursor: pointer;
    margin: 10px;
}

.main__footer--sec,.production__footer--sec, .footer__press--sec, .footer__team--sec, .footer__legal--sec {
    display: flex;
    flex-direction: column;
    width: calc(100%/5);
    align-items: center;

}
                     
/* Copyright Section*/


.footer__copyright {
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 1rem;
}

.copyright__img {
    width: 2.5222rem;
    height: auto;
}

.footer__copyright--img {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.copyright__text {
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}

.mcopywright__text  {
    color: #d9d9d9;
    font-weight: 500;
    margin-left: 1rem;
}

/* Footer Section End */





/* Sign Up Page Start */

.signup__container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid 1px #e0e0e0;
    margin-top: 10rem;
    margin-bottom: 10rem;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    background-color: rgb(255, 255, 255);
}

.input__group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 300px;
    max-width: 1200px;
}


.signup__title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 5px;
    color: #4b24e5;
}

.signup__text {
    color: #a2a1a1;
    font-weight: 500;
    margin-bottom: 30px;
    line-height: 1.5;
    max-width: 600px;
    text-align: center;
}

.signup__name, .signup__email, .signup__pass{
    height: 68px;
    border-radius: 99px;
    border: 2px solid rgb(229, 231, 235);
    max-width: 1200px;
        width: 100%;
    padding-left: 20px;
  
}

.signup__2btn {
    padding: 10px 30px;
    background-color: #4b24e5;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 2rem;
    text-decoration: none;
    font-size: 16px;
    width: 100%;
    cursor: pointer;   
    margin-top: 2rem;
}

.input__group--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    max-width: 1200px;
    
}

.input__title--details {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
    
}

@media screen and (max-width: 640px) {
    .nav__container {
        align-items: flex-start;
        padding: 80px 0;
    }

    .nav__links {
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }

    .intro__container {
        flex-direction: column;
        align-items: center;
    }

    .intro__label {
    height: 68px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    }

    .intro__para {
        width: 100%;
        text-align: center;
    }

    .intro__img {
        margin-left: 0;
        margin-top: 20px;
    }
    .feature {
        width: 100%;
        margin-bottom: 20px;
    }
        .features__main--container {
            flex-direction: column;
            align-items: center;
            margin-top: 40px;
        }
    
        .qw_container {
            flex-direction: column;
            align-items: center;
        }
    
        .steps__container {
            flex-direction: column;
            align-items: center;
        }
    
        .values__container {
            flex-direction: column;
            align-items: center;
        }
    
        .pricing__inner--container {
            flex-direction: column;
            align-items: center;
        }
    
        .pcards__container {
            flex-direction: column;
            align-items: center;
        }
    
        .testimonials__container {
            flex-direction: column;
            align-items: center;
        }
    
        .footer__container {
            flex-direction: column;
            align-items: center;
        }

        .footer__social--icons {
            display: flex;
            justify-content: center;
            gap: 10px;
        }

        .main__card--container{
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }

        .left__bot--arrow, .right__bot--arrow {
            padding: 10px;
            background-color: #f4f7ff;
            cursor: pointer;
            border-radius: 50%;
        }

        .testimonials__container {
            flex-direction: column;
            align-items: center;
        }

        .testimonial__body {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 50px;
        }
        
        #bottom {
            margin-top: 1em;
            margin:auto;
            width: 100%;
        }

        .hamburger{
            display: block;

        }

        .hamburger.active #bar:nth-child(2) {
            opacity: 0;
        }

        .hamburger.active #bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }

        .hamburger.active #bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }

            .nav__links {
               position: fixed;
               left: -100%;
               top: 70px;
               gap:0;
               flex-direction: column;
               background-color: rgb(0, 0, 0);
                width: 100%;
                text-align: center;
                transition: 0.3s;
            }

            .nav__links.active {
                left: 0;
            }
        
    
}

@media screen and (max-width: 480px) {
    .nav__container {
        display: flex;
    }
    .partner__img {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
    .signup__btn {
        margin-top: 10px;
        flex-direction: column;
        align-items: center;
        
    }

    .feature__2, .feature__3, .feature__4, .feature__5, .feature__6 {
        width: 100%;
        margin-bottom: 20px;
    }
    
    .testimoial__exp--bot {
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 20px;
    }
}